@import "tailwindcss";

@layer base {
  :root {
    font-family:
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    @apply text-white;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@utility button-base {
  @apply flex cursor-pointer items-center justify-between gap-2 rounded-lg px-3 py-2 text-base font-medium transition-colors;
}

.button-accent {
  @apply button-base;
  @apply bg-blue-500 text-white hover:bg-blue-700;
}

.button-disabled {
  @apply button-base;
  @apply cursor-not-allowed bg-gray-200 text-gray-400;
}

.button-outlined {
  @apply button-base;
  @apply border border-gray-800 text-gray-400 hover:bg-gray-700 hover:text-white;
}

.button-primary {
  @apply button-base;
  @apply text-gray-400 hover:bg-gray-700 hover:text-white;
}

.button-secondary {
  @apply button-base;
  @apply bg-gray-200 text-gray-600 hover:bg-gray-300 hover:text-gray-700;
}

.dropdown li {
  @apply cursor-pointer rounded-lg p-2 text-base font-medium text-gray-400 hover:bg-gray-700 hover:text-white;
}

.dropdown-button-primary {
  @apply cursor-pointer rounded-lg p-2 text-base font-medium text-gray-400 transition-colors hover:bg-gray-700 hover:text-white;
}

.graph-button-primary {
  @apply cursor-pointer rounded-lg border border-gray-800 p-2 text-base font-medium text-gray-400 transition-colors hover:bg-gray-700 hover:text-white focus:bg-blue-500 focus:text-white;
}

.input-field {
  @apply mt-1 mb-2 w-full rounded-lg border border-gray-900 bg-gray-800 p-2 text-sm;
}

.checkbox {
  @apply size-4 rounded-sm border-gray-600 bg-gray-700 ring-offset-gray-800 focus:ring-blue-600 focus:ring-offset-gray-800;
}

#chartContainer .apexcharts-tooltip {
  color: #918230;
}

#chartContainer .apexcharts-tooltip .apexcharts-tooltip-series-group.active {
  background: #092911 !important;
}

.react-kanban-board {
  @apply h-full !max-w-full *:flex *:h-full *:w-full *:items-start *:justify-between *:!gap-4;
}

/* Card */
.react-kanban-card,
.react-kanban-card-skeleton,
.react-kanban-card--dragging {
  @apply !w-full !max-w-full !min-w-full rounded-md !border-none !bg-blue-500 transition-transform;
}

.react-kanban-card__title {
}

.react-kanban-card__description {
  @apply border-red-500;
}

.react-kanban-column {
  @apply !m-0 !flex w-full !flex-col !gap-2 !rounded-lg border !border-gray-700 !bg-gray-800 px-2 py-1 **:w-full;
}
.react-kanban-column-header {
  @apply border-b border-blue-500;
}

/* 
You can either style all the board or import our style and override it with the styles you want. Ideally you would render the column instead of overriding CSS, however this may be helpful for you if your use case needs it.
Class
react-kanban-column-header__button
react-kanban-column-adder-button
*/
